In [1]:
# import necessary packages

import pandas as pd
import os
from datetime import datetime # I think this one can probably get deleted
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import seaborn as sns
sns.set()

%matplotlib notebook

In [ ]:
# Import Data as DataFrames
fireData = pd.read_csv("Clean_Data/CA_WildFires.csv")
droughtData = pd.read_csv("Clean_Data/CA_Droughts.csv")

In [ ]:
# Melissa M code Start Here

In [ ]:
# Melissa M Code End Here

In [ ]:
# Anika Code Start Here

In [ ]:
#Anika Code End Here

In [ ]:
# Melissa K Code Start Here

In [ ]:
droughtData["DSCI"] = droughtData["Abnormally Dry"]+ (2 * droughtData["Moderate Drought"]) + \
                        (3 * droughtData["Severe Drought"]) + (4 * droughtData["Extreme Drought"] + \
                                                                (5 * droughtData["Exceptional Drought"]))
droughtData.head()

In [ ]:
droughtGroupYear = droughtData.groupby(droughtData["Year"])
exceptionalMean = droughtGroupYear["Exceptional Drought"].mean()
extremeMean = droughtGroupYear["Extreme Drought"].mean()
severeMean = droughtGroupYear["Severe Drought"].mean()
moderateMean = droughtGroupYear["Moderate Drought"].mean()
abnormallyDryMean = droughtGroupYear["Abnormally Dry"].mean()
noDroughtMean = droughtGroupYear["No Drought"].mean()

droughtLevelMeansDF = pd.DataFrame({"Exceptional": exceptionalMean, "Extreme":extremeMean, "Severe":severeMean,
                   "Moderate":moderateMean, "Abnormally Dry": abnormallyDryMean, "No Drought": noDroughtMean})
pal = sns.color_palette("Reds")


droughtLevelMeansDF.plot.area(color=pal)

In [ ]:
#Melissa K Code End Here

In [ ]:
# Liz Code Start Here

# check dataset

In [2]:
# access clean drought file and turn into DataFrame
droughtData = pd.read_csv("Clean_Data/CA_Droughts.csv")

# check head to confirm dataframe properly loaded
droughtData.head(1)

# check tail
droughtData.tail()

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
1039,0.0,0.0,0.0,0.0,50.88,49.12,2000,2,50.88
1040,0.0,0.0,0.0,0.0,55.97,44.03,2000,1,55.97
1041,0.0,0.0,0.0,0.0,72.03,27.97,2000,1,72.03
1042,0.0,0.0,0.0,0.0,81.75,18.25,2000,1,81.75
1043,0.0,0.0,0.0,0.0,48.17,51.83,2000,1,48.17

In [3]:
# check data types
droughtData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 9 columns):
D4-Exceptional Drought    1044 non-null float64
D3-Extreme Drought        1044 non-null float64
D2-Severe Drought         1044 non-null float64
D1-Moderate Drought       1044 non-null float64
D0-Abnormally Dry         1044 non-null float64
No Drought                1044 non-null float64
year                      1044 non-null int64
month                     1044 non-null int64
DSCI                      1044 non-null float64
dtypes: float64(7), int64(2)
memory usage: 73.5 KB

# extract all 12 months and find mean value for each month over 20 year peroid

In [4]:
# extract January from droughtData
Jan = droughtData[(droughtData['month'] == 1)]
Jan.head(3)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
48,0.0,0.00,1.89,23.66,76.07,23.93,2019,1,129.06
49,0.0,0.71,3.44,72.23,92.23,7.77,2019,1,249.85
50,0.0,0.71,5.54,75.17,92.23,7.77,2019,1,262.03

In [5]:
# find mean for DSCI in Jan
Jan['DSCI'].mean()

274.45555555555563

In [6]:
# extract February from droughtData
Feb = droughtData[(droughtData['month'] == 2)]
Feb.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
44,0.0,0.0,0.0,2.33,12.83,87.17,2019,2,17.49

In [7]:
# find mean for DSCI in Feb
Feb['DSCI'].mean()

264.2376543209876

In [8]:
# extract March from droughtData
Mar = droughtData[(droughtData['month'] == 3)]
Mar.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
40,0.0,0.0,0.0,0.0,6.58,93.42,2019,3,6.58

In [9]:
# find mean for DSCI in March
Mar['DSCI'].mean()

265.85954022988506

In [10]:
# extract April from droughtData
Apr = droughtData[(droughtData['month'] == 4)]
Apr.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
35,0.0,0.0,0.0,0.0,5.97,94.03,2019,4,5.97

In [11]:
# find mean for DSCI in April
Apr['DSCI'].mean()

270.94069767441863

In [12]:
# extract May from droughtData
May = droughtData[(droughtData['month'] == 5)]
May.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
31,0.0,0.0,0.0,0.0,5.97,94.03,2019,5,5.97

In [13]:
# find mean for DSCI in May
May['DSCI'].mean()

271.9892222222221

In [14]:
# extract June from droughtData
June = droughtData[(droughtData['month'] == 6)]
June.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
27,0.0,0.0,0.0,0.0,4.32,95.68,2019,6,4.32

In [15]:
# find mean for DSCI in June
June['DSCI'].mean()

306.01011904761896

In [16]:
# extract July from droughtData
July = droughtData[(droughtData['month'] == 7)]
July.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
22,0.0,0.0,0.0,0.0,4.32,95.68,2019,7,4.32

In [17]:
# find mean for DSCI in July
July['DSCI'].mean()

328.28411111111103

In [18]:
# extract Aug from droughtData
Aug = droughtData[(droughtData['month'] == 8)]
Aug.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
18,0.0,0.0,0.0,1.09,9.06,90.94,2019,8,11.24

In [19]:
# find mean for DSCI in Aug
Aug['DSCI'].mean()

319.4280681818181

In [20]:
# Extract Sep from droughtData
Sep = droughtData[(droughtData['month'] == 9)]
Sep.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
14,0.0,0.0,0.0,2.06,10.27,89.73,2019,9,14.39

In [21]:
# find mean for DSCI in Sep
Sep['DSCI'].mean()

363.8358823529411

In [22]:
# Extract Oct from droughtData
Oct = droughtData[(droughtData['month'] == 10)]
Oct.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
9,0.0,0.0,0.0,2.06,17.74,82.26,2019,10,21.86

In [23]:
# find mean for DSCI in Oct
Oct['DSCI'].mean()

333.6299999999998

In [24]:
# Extract Nov from droughtData
Nov = droughtData[(droughtData['month'] == 11)]
Nov.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
5,0.0,0.0,0.01,3.31,90.78,9.22,2019,11,97.43

In [25]:
# find mean for DSCI in Nov
Nov['DSCI'].mean()

322.1294117647057

In [26]:
# Extract Dec from droughtData
Dec = droughtData[(droughtData['month'] == 12)]
Nov.head(1)

,D4-Exceptional Drought,D3-Extreme Drought,D2-Severe Drought,D1-Moderate Drought,D0-Abnormally Dry,No Drought,year,month,DSCI
5,0.0,0.0,0.01,3.31,90.78,9.22,2019,11,97.43

In [27]:
# find mean for DSCI in Dec
Dec['DSCI'].mean()

327.5576136363636

In [28]:
# try to creat datafram from month averages

December = Dec['DSCI'].mean()
December

November = Nov['DSCI'].mean()
November

322.1294117647057

## A better way to find average for month using groupby

In [29]:
droughtData.groupby('month')['DSCI'].mean()

month
1     274.455556
2     264.237654
3     265.859540
4     270.940698
5     271.989222
6     306.010119
7     328.284111
8     319.428068
9     363.835882
10    333.630000
11    322.129412
12    327.557614
Name: DSCI, dtype: float64

In [37]:
# turn into df from groupby object
super_fuzz = droughtData.groupby('month')['DSCI'].mean()
super_fuzz =pd.DataFrame({'Average DSCI': super_fuzz})
super_fuzz

super_fuzz['Month']=super_fuzz.index
super_fuzz

       Average DSCI  Month
month
1        274.455556      1
2        264.237654      2
3        265.859540      3
4        270.940698      4
5        271.989222      5
6        306.010119      6
7        328.284111      7
8        319.428068      8
9        363.835882      9
10       333.630000     10
11       322.129412     11
12       327.557614     12

In [ ]:
# create bar chart of monthly average

import seaborn as sns
sns.set(style="darkgrid")
ax = sns.barplot(x="Month", y="Average DSCI", data=super_fuzz, palette="dark")

## a better way to find yearly average using groupby

In [54]:
droughtData.groupby('year')['DSCI'].mean()

year
2000      12.821923
2001     164.955385
2002     266.667736
2003     149.277308
2004     177.382692
2005       7.530385
2006      16.069808
2007     500.143846
2008     322.657547
2009     358.900000
2010      57.551731
2011       9.160577
2012     281.876731
2013     468.088679
2014    1066.441538
2015    1077.235962
2016     791.710769
2017      82.989423
2018     233.271538
2019      40.553019
Name: DSCI, dtype: float64

In [58]:
## turn into df from groupby object
super_year = droughtData.groupby('year')['DSCI'].mean()
super_year =pd.DataFrame({'Average DSCI': super_year})
super_year['year']=super_year.index
super_year

      Average DSCI  year
year
2000     12.821923  2000
2001    164.955385  2001
2002    266.667736  2002
2003    149.277308  2003
2004    177.382692  2004
2005      7.530385  2005
2006     16.069808  2006
2007    500.143846  2007
2008    322.657547  2008
2009    358.900000  2009
2010     57.551731  2010
2011      9.160577  2011
2012    281.876731  2012
2013    468.088679  2013
2014   1066.441538  2014
2015   1077.235962  2015
2016    791.710769  2016
2017     82.989423  2017
2018    233.271538  2018
2019     40.553019  2019

In [ ]:
sns.set(style="darkgrid")
ax = sns.barplot(x="year", y="Average DSCI", data=super_year, palette="dark")

In [84]:
# create box plot suckah!!!

# Make boxplot for one group only
#sns.boxplot( y=super_year["Average DSCI"])

fig, ax = plt.subplots()
ax = super_year.plot.box(ax=ax)
plt.show()

In [51]:
#year_describe = droughtData.groupby('year').DSCI.describe()
#year_describe.head()

,count,mean,std,min,25%,50%,75%,max
year,,,,,,,,
2000,52.0,12.821923,19.610264,0.00,0.0000,2.980,13.5050,81.75
2001,52.0,164.955385,117.164015,14.74,59.5550,159.235,280.6100,341.98
2002,53.0,266.667736,154.265635,7.38,118.0400,285.480,419.0300,490.48
2003,52.0,149.277308,46.158897,101.63,115.5925,134.295,160.4125,276.87
2004,52.0,177.382692,70.096451,84.14,106.3625,184.770,222.5175,286.46

In [53]:
# turn groupby object into dataframe

# turn into df from groupby object
#super_fuzz = droughtData.groupby('month')['DSCI'].mean()
#super_fuzz =pd.DataFrame({'Average DSCI': super_fuzz})
#super_fuzz

#super_fuzz['Month']=super_fuzz.index
#super_fuzz

#super_year=droughtData.groupby('year').DSCI.describe()
#super_year =pd.DataFrame({'mean': super_year})

ValueError: If using all scalar values, you must pass an index

In [ ]:
#Liz Code End Here